<div class="signup-wrapper">
    <app-fake-nav></app-fake-nav>
    <div class="container">
        <!--Container-->
        <div class="login-container is-centered">
            <div class="columns is-vcentered">
                <div class="column">

                    <h2 class="form-title has-text-centered">Hey there!</h2>
                    <h3 class="form-subtitle has-text-centered">Lets create your account.</h3>
                    <!--Form-->
                    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" autocomplete="off">
                        <div class="login-form">
                            <div class="form-panel">
                                <div class="columns is-multiline">
                                    <div class="column is-6">
                                        <div class="field">
                                            <label>First Name</label>
                                            <div class="control">
                                                <input type="text" class="input" placeholder="Enter your first name"
                                                    formControlName="first_name" autocomplete="none">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column is-6">
                                        <div class="field">
                                            <label>Last Name</label>
                                            <div class="control">
                                                <input type="text" class="input" placeholder="Enter your last name"
                                                    formControlName="last_name" autocomplete="none">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column is-12">
                                        <div class="field">
                                            <label>Email</label>
                                            <div class="control">
                                                <input type="email" class="input" placeholder="Enter your email address"
                                                    formControlName="email" autocomplete="none">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column is-12">
                                        <div class="field">
                                            <label>Username</label>
                                            <div class="control">
                                                <input type="text" class="input" placeholder="Enter your username"
                                                    formControlName="username" autocomplete="none">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column is-12 mb-3">
                                        <div class="field">
                                            <label>Password</label>
                                            <div class="control">
                                                <input type="password" class="input" placeholder="Enter your password"
                                                    formControlName="password" autocomplete="new-password">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="buttons mt-2">
                                <button type="submit" class="button is-solid primary-button is-fullwidth raised">Create
                                    Account</button>
                            </div>

                            <div class="account-link has-text-centered">
                                <a routerLink="/auth/sign-in">Have an account? Sign In</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>